body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo-image {
    width: auto;
    height: auto;
}

.logo-label {
    
}

.logo {
    display: flex;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

main {
    margin: 20px 10%;
}

@media (max-width: 650px) {
    main {
        margin: 20px 10px;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.content-container {
    display: flex;
    gap: 10px;
}

#categories {
    border-right: 1px solid #BBB;
    padding: 10px;
    flex: 0 0 20%;
}

#products {
    padding: 10px;
}

.active-category {
    color: black !important;
    font-weight: bold;
}

#categories li {
    color: #333333;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

#sort-selector {
    border: 1px solid silver;
    padding: 3px;
    border-radius: 4px;
    background: white;
}

#product-list {
    flex: 1;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-field {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: 200px;
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.product-item[data-product-id="0"] {
    display: none;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 150px;
    gap: 10px;
}

.buy-button {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
}

.buy-button:hover {
    background-color: #555;
}

.product-info .product-name {
    flex-grow: 1;
    overflow: hidden;
    max-height: 200px;
    word-wrap: break-word;
}

.notfound-container {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    max-width: 600px;
    min-width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}